body{
	background-color: white;
	margin: 0px;
	padding-top: 20px;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	line-height: 25px;
}

header{
	background-color: yellow;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

h1, h2{
	font-family: "Pixelify Sans", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
}

header h1{
	color: black;
	font-size: 50px;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 10px solid white;e
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img {
	max-width: 800px;
}

h2{
	font-size: 35px;
	margin: 40px 0 10px;
}

a{
	color: navy;
}

a:hover{
	color: magenta;
}

footer{
	background-color: #1d1d1d;
	color: white;
	text-align: center;
	padding: 40px;
}

footer p{
	margin: 0;
}

footer a {
	color: white;
}

p.caption{
	color: #4b4b4b;
	font-style: italic;
	font-size: 18px;
	margin-top: 0;
}