body{
	background-color: white;
	margin: 0px;
	padding-top: 20px;
	font-family: helvetica, arial, sans-serif;
	font-size: 20px;
	line-height: auto;
}

/* header styles */

header{
	background-color: yellow;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
}

h1{
	font-family: "Fuzzy Bubbles", sans-serif;
	font-weight: 700;
	font-style: normal;
	margin: 0px;
	color: black;
	font-size: 60px;
	padding-top: 5px;
}

header p{
	font-weight: bold;
	text-transform:;
	margin: 0;
	padding-bottom: 20px;
	font-variant: small-caps;
}

header img{
	border-radius: 150px;
	width: 300px;
	border: 10px solid white;e
}

/* body style */

h2{
	font-family: "Fuzzy Bubbles", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 44px;
	margin: 50px 0 0px;
}

main {
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}

main img{
	max-width: 800px;
	width: 100%;
}

p.caption{
	color: #4b4b4b;
	font-style: italic;
	font-size: 18px;
	margin-top: 0;
}

.container{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.image-box{
	text-align: center;
	width: 30%;
	padding-top: 20px;
	padding-bottom: 52px;
}

.image-box img{
	width: 100%;
	max-width: 200px;
	height: auto;
}

.image-box button{
	width: 100%;
	margin-top: 14px;
	padding: 10px 20px;
	border-radius: 50px;
	font-size: 20px;
	font-family: helvetica, arial, sans-serif;
	font-weight: bold;
	color: whitesmoke;
	background-color: darkblue;
	border: none;
	box-shadow: 7px 6px 9px rgba(4, 0, 2, 0.2);
}

.image-box button:hover{
	background-color: magenta;
	color: white;
	box-shadow: 7px 6px 9px rgba(4, 0, 2, 0.0)
}

footer{
	background-color: #1d1d1d;
	color: white;
	text-align: center;
	padding: 40px;
}

footer p{
	margin: 0;
}

footer a {
	color: white;
}